<div class="col-sm-12" style="padding-left: 0px !important;">

  <div class="category-adds">
    <div id="category-tab">
      <div class="tab-view">
        <ul class="list-inline">
          <li class="grid-view-tab"><i class="fa fa-th-large" aria-hidden="true"></i></li>
          <li class="small-view-tab active"><i class="fa fa-th" aria-hidden="true"></i></li>
          <li class="list-view-tab"><i class="fa fa-th-list" aria-hidden="true"></i></li>
        </ul>
      </div>
      <div class="category-tab">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Recent</a></li>
          <li role="presentation"><a href="#popular" aria-controls="popular" role="tab" data-toggle="tab">Popular</a></li>
          <li role="presentation"><a href="#Random" aria-controls="Random" role="tab" data-toggle="tab">Random</a></li>
        </ul>
        <!-- Tab panes -->

        <div class="tab-content list-view-tab">
          <div role="tabpanel" class="tab-pane active" id="recent">
            <ul>
              <li class="item-wrap">
                <div class="item">
                  <div class="item-image">
                    <a href="details.html"><img src="images/item/1.jpg" alt="" class="img-responsive"></a>
                    <div class="item-price">
                      <span>$45</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <div class="item-meta">
                      <div class="item-post-date">
                        <span>Today, 12:29 pm</span>
                      </div>
                      <ul class="list-inline product-social">
                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="item-title">
                      <h3><a href="#">Dial Metal Wrist Watch</a></h3>
                    </div>
                    <div class="item-info">
                      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    </div>
                  </div><!-- item-description -->
                </div><!-- item -->
              </li> <!-- item-wrap -->

              <li class="item-wrap">
                <div class="item">
                  <div class="item-image">
                    <a href="details.html"><img src="images/item/2.jpg" alt="" class="img-responsive"></a>
                    <div class="item-price">
                      <span>$649</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <div class="item-meta">
                      <div class="item-post-date">
                        <span>Dec 29, 10:39 pm</span>
                      </div>
                      <ul class="list-inline product-social">
                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="item-title">
                      <h3><a href="#">Nikon 24.2MP Digital SLR</a></h3>
                    </div>
                    <div class="item-info">
                      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    </div>
                  </div><!-- item-description -->
                </div><!-- item -->
              </li><!-- item-wrap -->

              <li class="item-wrap">
                <div class="item">
                  <div class="item-image">
                    <a href="details.html"><img src="images/item/3.jpg" alt="" class="img-responsive"></a>
                    <div class="item-price">
                      <span>$399</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <div class="item-meta">
                      <div class="item-post-date">
                        <span>Dec 28, 14:54 pm</span>
                      </div>
                      <ul class="list-inline product-social">
                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="item-title">
                      <h3><a href="#">CompBook 1.6-inch Laptop</a></h3>
                    </div>
                    <div class="item-info">
                      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    </div>
                  </div><!-- item-description -->
                </div><!-- item -->
              </li><!-- item-wrap -->

              <li class="item-wrap">
                <div class="item">
                  <div class="item-image">
                    <a href="details.html"><img src="images/item/4.jpg" alt="" class="img-responsive"></a>
                    <div class="item-price">
                      <span>$19</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <div class="item-meta">
                      <div class="item-post-date">
                        <span>Dec 21, 09:23 am</span>
                      </div>
                      <ul class="list-inline product-social">
                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="item-title">
                      <h3><a href="#">Disital Multi Headphone</a></h3>
                    </div>
                    <div class="item-info">
                      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    </div>
                  </div><!-- item-description -->
                </div><!-- item -->
              </li><!-- item-wrap -->

              <li class="item-wrap">
                <div class="item">
                  <div class="item-image">
                    <a href="details.html"><img src="images/item/5.jpg" alt="" class="img-responsive"></a>
                    <div class="item-price">
                      <span>$3950</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <div class="item-meta">
                      <div class="item-post-date">
                        <span>Dec 31, 12:59 am</span>
                      </div>
                      <ul class="list-inline product-social">
                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="item-title">
                      <h3><a href="#">Diecast Model Motorcycle</a></h3>
                    </div>
                    <div class="item-info">
                      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    </div>
                  </div><!-- item-description -->
                </div><!-- item -->
              </li><!-- item-wrap -->

              <li class="item-wrap">
                <div class="item">
                  <div class="item-image">
                    <a href="details.html"><img src="images/item/6.jpg" alt="" class="img-responsive"></a>
                    <div class="item-price">
                      <span>$545</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <div class="item-meta">
                      <div class="item-post-date">
                        <span>Dec 29, 11:32 am</span>
                      </div>
                      <ul class="list-inline product-social">
                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="item-title">
                      <h3><a href="#">Lenovo Ideapad Laptop</a></h3>
                    </div>
                    <div class="item-info">
                      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    </div>
                  </div><!-- item-description -->
                </div><!-- item -->
              </li><!-- item-wrap -->

              <li class="item-wrap">
                <div class="item">
                  <div class="item-image">
                    <a href="details.html"><img src="images/item/13.jpg" alt="" class="img-responsive"></a>
                    <div class="item-price">
                      <span>$45</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <div class="item-meta">
                      <div class="item-post-date">
                        <span>Today, 12:29 pm</span>
                      </div>
                      <ul class="list-inline product-social">
                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="item-title">
                      <h3><a href="#">Product Title Goes Here</a></h3>
                    </div>
                    <div class="item-info">
                      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    </div>
                  </div><!-- item-description -->
                </div><!-- item -->
              </li><!-- item-wrap -->

              <li class="item-wrap">
                <div class="item">
                  <div class="item-image">
                    <a href="details.html"><img src="images/item/15.jpg" alt="" class="img-responsive"></a>
                    <div class="item-price">
                      <span>$45</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <div class="item-meta">
                      <div class="item-post-date">
                        <span>Today, 12:29 pm</span>
                      </div>
                      <ul class="list-inline product-social">
                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="item-title">
                      <h3><a href="#">Product Title Goes Here</a></h3>
                    </div>
                    <div class="item-info">
                      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    </div>
                  </div><!-- item-description -->
                </div><!-- item -->
              </li><!-- item-wrap -->
              <li class="item-wrap">
                <div class="item">
                  <div class="item-image">
                    <a href="details.html"><img src="images/item/7.jpg" alt="" class="img-responsive"></a>
                    <div class="item-price">
                      <span>$45</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <div class="item-meta">
                      <div class="item-post-date">
                        <span>Today, 12:29 pm</span>
                      </div>
                      <ul class="list-inline product-social">
                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="item-title">
                      <h3><a href="#">Product Title Goes Here</a></h3>
                    </div>
                    <div class="item-info">
                      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    </div>
                  </div><!-- item-description -->
                </div><!-- item -->
              </li><!-- item-wrap -->
            </ul>
          </div> <!--tab-pane-->

          <div role="tabpanel" class="tab-pane" id="popular">
            <ul>
              <li class="item-wrap">
                <div class="item">
                  <div class="item-image">
                    <a href="details.html"><img src="images/item/7.jpg" alt="" class="img-responsive"></a>
                    <div class="item-price">
                      <span>$45</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <div class="item-meta">
                      <div class="item-post-date">
                        <span>Today, 12:29 pm</span>
                      </div>
                      <ul class="list-inline product-social">
                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="item-title">
                      <h3><a href="#">Product Title Goes Here</a></h3>
                    </div>
                    <div class="item-info">
                      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    </div>
                  </div><!-- item-description -->
                </div><!-- item -->
              </li><!-- item-wrap -->

              <li class="item-wrap">
                <div class="item">
                  <div class="item-image">
                    <a href="details.html"><img src="images/item/8.jpg" alt="" class="img-responsive"></a>
                    <div class="item-price">
                      <span>$45</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <div class="item-meta">
                      <div class="item-post-date">
                        <span>Today, 12:29 pm</span>
                      </div>
                      <ul class="list-inline product-social">
                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="item-title">
                      <h3><a href="#">Product Title Goes Here</a></h3>
                    </div>
                    <div class="item-info">
                      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    </div>
                  </div><!-- item-description -->
                </div><!-- item -->
              </li><!-- item-wrap -->

              <li class="item-wrap">
                <div class="item">
                  <div class="item-image">
                    <a href="details.html"><img src="images/item/9.jpg" alt="" class="img-responsive"></a>
                    <div class="item-price">
                      <span>$45</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <div class="item-meta">
                      <div class="item-post-date">
                        <span>Today, 12:29 pm</span>
                      </div>
                      <ul class="list-inline product-social">
                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="item-title">
                      <h3><a href="#">Product Title Goes Here</a></h3>
                    </div>
                    <div class="item-info">
                      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    </div>
                  </div><!-- item-description -->
                </div><!-- item -->
              </li><!-- item-wrap -->

              <li class="item-wrap">
                <div class="item">
                  <div class="item-image">
                    <a href="details.html"><img src="images/item/10.jpg" alt="" class="img-responsive"></a>
                    <div class="item-price">
                      <span>$45</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <div class="item-meta">
                      <div class="item-post-date">
                        <span>Today, 12:29 pm</span>
                      </div>
                      <ul class="list-inline product-social">
                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="item-title">
                      <h3><a href="#">Product Title Goes Here</a></h3>
                    </div>
                    <div class="item-info">
                      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    </div>
                  </div><!-- item-description -->
                </div><!-- item -->
              </li><!-- item-wrap -->

              <li class="item-wrap">
                <div class="item">
                  <div class="item-image">
                    <a href="details.html"><img src="images/item/11.jpg" alt="" class="img-responsive"></a>
                    <div class="item-price">
                      <span>$45</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <div class="item-meta">
                      <div class="item-post-date">
                        <span>Today, 12:29 pm</span>
                      </div>
                      <ul class="list-inline product-social">
                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="item-title">
                      <h3><a href="#">Product Title Goes Here</a></h3>
                    </div>
                    <div class="item-info">
                      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    </div>
                  </div><!-- item-description -->
                </div><!-- item -->
              </li><!-- item-wrap -->
            </ul>
          </div><!-- tab-pane -->

          <div role="tabpanel" class="tab-pane" id="Random">
            <ul>
              <li class="item-wrap">
                <div class="item">
                  <div class="item-image">
                    <a href="details.html"><img src="images/item/12.jpg" alt="" class="img-responsive"></a>
                    <div class="item-price">
                      <span>$45</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <div class="item-meta">
                      <div class="item-post-date">
                        <span>Today, 12:29 pm</span>
                      </div>
                      <ul class="list-inline product-social">
                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="item-title">
                      <h3><a href="#">Product Title Goes Here</a></h3>
                    </div>
                    <div class="item-info">
                      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    </div>
                  </div><!-- item-description -->
                </div><!-- item -->
              </li><!-- item-wrap -->

              <li class="item-wrap">
                <div class="item">
                  <div class="item-image">
                    <a href="details.html"><img src="images/item/13.jpg" alt="" class="img-responsive"></a>
                    <div class="item-price">
                      <span>$45</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <div class="item-meta">
                      <div class="item-post-date">
                        <span>Today, 12:29 pm</span>
                      </div>
                      <ul class="list-inline product-social">
                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="item-title">
                      <h3><a href="#">Product Title Goes Here</a></h3>
                    </div>
                    <div class="item-info">
                      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    </div>
                  </div><!-- item-description -->
                </div><!-- item -->
              </li><!-- item-wrap -->

              <li class="item-wrap">
                <div class="item">
                  <div class="item-image">
                    <a href="details.html"><img src="images/item/14.jpg" alt="" class="img-responsive"></a>
                    <div class="item-price">
                      <span>$45</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <div class="item-meta">
                      <div class="item-post-date">
                        <span>Today, 12:29 pm</span>
                      </div>
                      <ul class="list-inline product-social">
                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="item-title">
                      <h3><a href="#">Product Title Goes Here</a></h3>
                    </div>
                    <div class="item-info">
                      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    </div>
                  </div><!-- item-description -->
                </div><!-- item -->
              </li><!-- item-wrap -->

              <li class="item-wrap">
                <div class="item">
                  <div class="item-image">
                    <a href="details.html"><img src="images/item/15.jpg" alt="" class="img-responsive"></a>
                    <div class="item-price">
                      <span>$45</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <div class="item-meta">
                      <div class="item-post-date">
                        <span>Today, 12:29 pm</span>
                      </div>
                      <ul class="list-inline product-social">
                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="item-title">
                      <h3><a href="#">Product Title Goes Here</a></h3>
                    </div>
                    <div class="item-info">
                      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</p>
                    </div>
                  </div><!-- item-description -->
                </div><!-- item -->
              </li><!-- item-wrap -->
            </ul>
          </div><!-- tab-pane-->
        </div>
      </div>
    </div><!-- category-tab-->
  </div>



  <div class="col-sm-3">
  </div>
  <div class="col-sm-9 pull-left">
    <ul>
      <%@employer.jobs.each do |job|%>
          <li>
                <span>
                  <i class="fa fa-user"></i>
                </span>
            <a href="#"><%= job.name %></a>
          </li>
          <li>
                <span>
                  <i class="fa fa-envelope-o"></i>
                </span>
            <a href="#"><%= job.description %></a>
          </li>
          <li>
                <span>
                  <i class="fa fa-phone"></i>
                </span>
            <a href="#"><%= job.budget %></a>
          </li>
          <li>
                <span>
                  <i class="fa fa-phone"></i>
                </span>
            <a href="#"><%= job.time %></a>
          </li>
      <% end %>

    </ul>
  </div>
</div>