
  <div class="avt-post-wrapper section">
    <div class="container">
      <div class="avt-post">
        <%= form_for @user.profileable do |f| %>
          <fieldset>
            <div class="product-section avtpost-fields">
              <div class="row">
                <div class="col-xs-12">
                  <h3>Information Form</h3>
                </div>
                <div class="col-md-6">
                  <div class="post-inner">
                    <div class="row form-group">
                      <label class="col-md-4">First Name: </label>
                      <div class="col-md-8">
                        <%= f.text_field :first_name, autofocus: true , :class => 'form-control', :required => true, placeholder: "First Name"%>
                      </div>
                    </div>
                  </div><!-- post-inner -->
                </div>
                <div class="col-md-6">
                  <div class="post-inner">
                    <div class="row form-group">
                      <label class="col-md-4">Last Name: </label>
                      <div class="col-md-8">
                        <%= f.text_field :last_name, autofocus: true , :class => 'form-control', :required => true, placeholder: "Last Name"%>
                      </div>
                    </div>
                  </div><!-- post-inner -->
                </div>
                <!--<div class="col-md-6">-->
                  <!--<div class="post-inner choose-options">-->
                    <!--<div class="row form-group">-->
                      <!--<label class="col-md-4">Ad Type: </label>-->
                      <!--<div class="col-md-8">-->
                        <!--<div class="row">-->
                          <!--<div class="col-md-6">-->
                            <!--<div class="choose-option">-->
                              <!--<input type="radio" name="itemName" value="personal" id="personal">-->
                              <!--<label for="personal">Personal</label>-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="col-md-6">-->
                            <!--<div class="choose-option">-->
                              <!--<input type="radio" name="itemName" value="business" id="business">-->
                              <!--<label for="business">Business</label>-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>&lt;!&ndash; post-inner &ndash;&gt;-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<div class="post-inner">-->
                    <!--<div class="row form-group">-->
                      <!--<label class="col-md-4">Item Price <span>($ USD)</span> :	</label>-->
                      <!--<div class="col-md-8">-->
                        <!--<div class="row">-->
                          <!--<div class="col-md-6">-->
                            <!--<input id="Price" name="Price" class="form-control" placeholder="Price" required="" type="text">-->
                          <!--</div>-->
                          <!--<div class="col-md-6">-->
                            <!--<div class="checkbox choose-option">-->
                              <!--<label><input type="checkbox">Negotiable </label>-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>&lt;!&ndash; post-inner &ndash;&gt;-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<div class="post-inner">-->
                    <!--<div class="row form-group">-->
                      <!--<label class="col-md-4">Description: </label>-->
                      <!--<div class="col-md-8">-->
                        <!--<textarea class="form-control" id="textarea" placeholder="Write details about your product" rows="6"></textarea>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>&lt;!&ndash; post-inner &ndash;&gt;-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<div class="post-inner">-->
                    <!--<div class="row form-group">-->
                      <!--<label class="col-md-4">Upload Photo: </label>-->
                      <!--<div class="col-md-8">-->
                        <!--<div class="upload-section">-->
                          <!--<label class="upload-image" for="uploadOne">-->
                            <!--<input type="file" id="uploadOne">-->
                          <!--</label>-->

                          <!--<label class="upload-image" for="uploadTwo">-->
                            <!--<input type="file" id="uploadTwo">-->
                          <!--</label>-->
                          <!--<label class="upload-image" for="uploadThree">-->
                            <!--<input type="file" id="uploadThree">-->
                          <!--</label>-->
                          <!--<label class="upload-image" for="uploadFour">-->
                            <!--<input type="file" id="uploadFour">-->
                          <!--</label>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>&lt;!&ndash; post-inner &ndash;&gt;-->
                <!--</div>-->
              </div>
            </div><!-- product-section -->

            <!--<div class="seller-section avtpost-fields">-->
              <!--<div class="row">-->
                <!--<div class="col-xs-12">-->
                  <!--<h3>Seller Information</h3>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<div class="post-inner">-->
                    <!--<div class="row form-group">-->
                      <!--<label class="col-md-4">Contact Name: </label>-->
                      <!--<div class="col-md-8">-->
                        <!--<input type="text" name="seller-name" class="form-control" id="seller-name" placeholder="Your name">-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>&lt;!&ndash; post-inner &ndash;&gt;-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<div class="post-inner">-->
                    <!--<div class="row form-group">-->
                      <!--<label class="col-md-4">Contact Email: </label>-->
                      <!--<div class="col-md-8">-->
                        <!--<input type="email" name="seller-email" class="form-control" id="seller-email"  placeholder="name@yourmail.com" >-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>&lt;!&ndash; post-inner &ndash;&gt;-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<div class="post-inner">-->
                    <!--<div class="row form-group">-->
                      <!--<label class="col-md-4">Contact Number: </label>-->
                      <!--<div class="col-md-8">-->
                        <!--<input type="tel" name="seller-phone" class="form-control" id="seller-phone" placeholder="Contact number" >-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>&lt;!&ndash; post-inner &ndash;&gt;-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<div class="post-inner">-->
                    <!--<div class="row form-group">-->
                      <!--<label class="col-md-4">Your Address: </label>-->
                      <!--<div class="col-md-8">-->
                        <!--<input type="text" name="seller-address" class="form-control" id="seller-address" placeholder="Your address">-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>&lt;!&ndash; post-inner &ndash;&gt;-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>&lt;!&ndash; seller-section &ndash;&gt;-->

            <!--<div class="seller-option avtpost-fields">-->
              <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                  <!--<h3>Make Your Ad Featured <span><a href="#">What is featured ad ?</a></span></h3>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<div class="post-inner">-->
                    <!--<div class="form-group">-->
                      <!--<span>Premium Ad Options: </span>-->
                      <!--<div class="premium-avts">-->
                        <!--<ul>-->
                          <!--<li class="premium-avt">-->
                            <!--<input type="radio" name="premiumAvt" value="option-one" id="option-one">-->
                            <!--<label for="option-one">Regular Ad</label>-->
                            <!--<span>$00.00</span>-->
                          <!--</li>-->
                          <!--<li class="premium-avt">-->
                            <!--<input type="radio" name="premiumAvt" value="option-two" id="option-two">-->
                            <!--<label for="option-two">Top Featured Ads</label>-->
                            <!--<span>$59.00</span>-->
                          <!--</li>-->
                          <!--<li class="premium-avt">-->
                            <!--<input type="radio" name="premiumAvt" value="option-three" id="option-three">-->
                            <!--<label for="option-three">Urgent Ads</label>-->
                            <!--<span>$79.00</span>-->
                          <!--</li>-->
                        <!--</ul>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>&lt;!&ndash; post-inner &ndash;&gt;-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<div class="post-inner">-->
                    <!--<div class="form-group">-->
                      <!--<span>Please select the preferred payment method: </span>-->
                      <!--<div class="payment-options">-->
                        <!--<ul>-->
                          <!--<li class="payment-option">-->
                            <!--<input type="radio" name="payment-option" value="payment-one">-->
                            <!--<label for="payment-one">Direct Bank Transfer</label>-->
                          <!--</li>-->
                          <!--<li class="payment-option">-->
                            <!--<input type="radio" name="payment-option" value="payment-two">-->
                            <!--<label for="payment-two">Cheque Payment</label>-->
                          <!--</li>-->
                          <!--<li class="payment-option">-->
                            <!--<input type="radio" name="payment-option" value="payment-three">-->
                            <!--<label for="payment-three">Credit Card</label>-->
                          <!--</li>-->
                        <!--</ul>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>&lt;!&ndash; post-inner &ndash;&gt;-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>&lt;!&ndash; seller-option &ndash;&gt;-->
            <div class="submit-section">
              <div class="ad-condition checkbox">
                <label for="submit-post">
                  <input type="checkbox" name="submit-post" id="submit-post">
                  By click you must agree with <a href="#">our  Terms &amp; Condition</a> and
                  <a href="#">Posting Rules</a>.
                </label>
              </div>
              <div class="submit-button">
                <%= f.submit "Save" , :class => 'btn btn-primary'%>
              </div>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div> <!-- avt-post -->